{{- if .Site.Params.CusdisID -}}

    <hr class="solid">

    <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="{{ .Site.Params.CusdisID }}"
    data-page-id="{{ .Page.File.UniqueID }}"
    data-page-url="{{ .Page.Permalink }}"
    data-page-title="{{ .Page.Title }}"
    data-theme="auto"
    ></div>

    <script async defer>window.CUSDIS_LOCALE = {
        powered_by: " ",
    }</script>

    {{- if eq .Site.Language.LanguageName "Chinese" -}}
    <script async defer>window.CUSDIS_LOCALE = {
        powered_by: " ",
        post_comment: '发送',
        loading: '加载中',
        // comment
        email: '邮箱地址 (可选)',
        nickname: '昵称',
        reply_placeholder: '回复内容…',
        reply_btn: '回复',
        sending: '发送中…',
        // reply
        mod_badge: '管理员',
        content_is_required: '内容不能为空',
        nickname_is_required: '昵称不能为空',
        comment_has_been_sent:'评论已发送，管理员审核通过后会展示',
    }</script>
    {{- end -}}
    <script async src="https://cusdis.com/js/cusdis.es.js"></script>

{{- end -}}